{include file=mh_admin_header.html}
<h2>{gt text='Needles list'}</h2>

<p class="z-informationmsg">{gt text="Notice: The curly brackets denote the beginning and end of parameters, and don't have to be used in the needle. The pipe symbol ('|') indicates that a variety of options can be used."}</p>

<table class="z-admintable">
    <thead>
        <tr>
            <th>{gt text='Module'}</th>
            <th>{gt text='Usage'}</th>
            <th>{gt text='Source'}</th>
            <th>{gt text='Case-sensitive'}</th>
        </tr>
    </thead>
    <tbody>
        {foreach item=needle from=$needles}
        <tr class="{cycle values="z-odd,z-even" name=abacs}">
            <td>{$needle.module|safetext}</td>
            <td>{$needle.info|safetext}</td>
            <td>{if $needle.builtin eq true}MultiHook{else}{$needle.module}{/if}</td>
            <td>{if $needle.casesensitive eq true}{gt text="Yes"}{else}{gt text="No"}{/if}</td>
        </tr>
        {foreachelse}
        <tr class="z-admintableempty">
            <td colspan="4">{gt text='No needles found'}</td>
        </tr>
        {/foreach}
    </tbody>
</table>

{include file=mh_admin_footer.html}
