// $Id:  $

// IE6 fix
abbr, acronym, span.abbr {
    cursor: help;
    border-bottom: 1px dashed #000;
}

a.externallink {
    padding-left:  14px;
    background: url('../../../modules/MultiHook/pnimages/extlink.gif') no-repeat bottom left;
}
a:hover.externallink {
    padding-left:  14px;
    background: url('../../../modules/MultiHook/pnimages/extlink.gif') no-repeat bottom left;
}
