{# purpose of this template: entries index view #}
{% extends routeArea == 'admin' ? '@ZikulaMultiHookModule/adminBase.html.twig' : '@ZikulaMultiHookModule/base.html.twig' %}
{% trans_default_domain 'entry' %}
{% block title 'Entries'|trans %}
{% block admin_page_icon 'home' %}
{% block content %}
    <div class="zikulamultihookmodule-entry zikulamultihookmodule-index">
        <p>{% trans %}Welcome to the entry section of the Multi hook application.{% endtrans %}</p>
    </div>
{% endblock %}
