{# purpose of this template: entries index view #}
{% extends routeArea == 'admin' ? 'ZikulaMultiHookModule::adminBase.html.twig' : 'ZikulaMultiHookModule::base.html.twig' %}
{% block title __('Entries') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <div class="zikulamultihookmodule-entry zikulamultihookmodule-index">
        <p>{{ __('Welcome to the entry section of the Multi hook application.') }}</p>
    </div>
{% endblock %}
